<h5>Welcome</h5>
<%= link to: player_path(@conn, :new), class: "btn blue" do %>
  Add a player
<% end %>

<%= link to: player_path(@conn, :index), class: "btn green" do %>
  View Players
<% end %>

<div class="btn green">
  View a player
</div>
<div class="btn blue">
  Report a game
</div>