<%= form_for @changeset, player_path(@conn, :create), fn f-> %>
  <div class="form-group">
    <%= text_input f, :name, placeholder: "Name", class: "form-control" %>
    <%= error_tag f, :name %>
    <%= text_input f, :rank, placeholder: "Rank", class: "form-control" %>
    <%= error_tag f, :rank %>
  </div>

    <%= submit "Save Topic", class: "btn btn-primary" %>
<% end %>